.clientCard{
  margin-top: 40px;
  border-radius: 4px;
  overflow: hidden;
  background: #333;
 /* padding:20px;*/
  transition:all 0.2s;
  height: 15rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 40px 40px;
  position: relative;
  transform: translate3d(0px, 0px, 0px);
  text-shadow: 0 2px 10px rgba(2,2,2,.5);
  color: #fff;
}
.clientCard:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 50px 50px;
  transform: translateY(-20px) !important;
}

.content{
  position: absolute;
  bottom: 0px;
  left:0px;
  padding: 20px;
  z-index: 10;

}


.backgroundImage{
  z-index: 5;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height: 100%;
}
.link{
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(to top, #fff 1px, #fff 2px, rgba(0, 0, 0, 0) 1px);
}
.link img{
  margin-bottom: -3px;
}
.gradientOverlay{
    background-image: linear-gradient(65deg, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.05));
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 6;
}